<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XWQDownlond.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC67FA591C03081500B781C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC67FA721C03081500B781C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC67FA7D1C03081600B781C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
